<nav class="barre">
    <div class="nav-links">
        <a href="index.php?route=accueil" class="nav">Accueil</a>
        <a href="index.php?route=entreprises" class="nav">Entreprises</a>
        <a href="index.php?route=candidature" class="nav">Offres</a>
        <a href="index.php?route=wishlist" class="nav">Wishlist</a>
        <a href="index.php?route=contact" class="nav">Contact</a>
    </div>

    <div class="header-right">
        <a href="index.php?route=connexion" class="log">CONNEXION</a>
        <a href="index.php?route=inscription" class="log2">S'INSCRIRE</a>
    </div>

    <div class="burger-menu" onclick="toggleMenu()">
        ☰
    </div>
</nav>

<div id="mySidenav" class="sidenav">
    <a id="closeBtn" href="#" class="close">×</a>
    <ul>
        <a href="index.php?route=accueil" class="nav">Accueil</a>
        <a href="index.php?route=entreprises" class="nav">Entreprises</a>
        <a href="index.php?route=candidature" class="nav">Offres</a>
        <a href="index.php?route=wishlist" class="nav">Wishlist</a>
        <a href="index.php?route=contact" class="nav">Contact</a>
    </ul>
</div>